---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$base-font-size:   24px;
$base-font-size-mobile:   20px;

$small-font-size:  21px;
$small-font-size-laptop:  $base-font-size-mobile; // * 0.895;
$small-font-size-mobile:  11px;
$base-line-height: 1.5;

$spacing-unit:     30px;

$black-color:      #212121;

$text-color:       $black-color;
$background-color: #FEFEFE;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        900px; /*TODO: this is more like on-tablet */
$on-desktop:       1200px;

$content-width:    1320px;
$grid-pad:         30px;

$accent-color: #D64242; // red
$accent-color-light: lighten($accent-color, 5%);
$brand-color:      $accent-color;
$grey-color-transparent: rgba(177,172,172,0.34);


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-min($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting",
"grid",
"form"
;
