<footer class="site-footer">

    <div class="wrapper">

        <div class="footer-content" >
            <div class="footer-col-wrapper">
                <div class="footer-col  footer-col-1">
                    <a href="/"><img src="/images/logo.svg" id="footer-logo"></a>
                    <div class="#made-with">
                        Made with <i class="fas fa-heart"></i> in Zagreb & Vienna
                    </div>

                    <ul class="contact-list">
                        <li>
                            <a href="https://blog.punkrockdev.com/">
                                <i class="fas fa-newspaper fa-fw"></i>
                                <span><strong>Blog</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/punkrockdev/">
                                <i class="fab fa-twitter fa-fw"></i>
                                <span class="hide-laptop" >twitter.com/</span><strong>@punkrockdev</strong>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/punkrockdev/">
                                <i class="fab fa-facebook-f fa-fw"></i>
                                <span class="hide-laptop" >facebook.com/</span><strong>punkrockdev</strong>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/punkrockdev/">
                                <i class="fab fa-github fa-fw"></i>
                                <span class="hide-laptop" >github.com/</span><strong>punkrockdev</strong>
                            </a>
                        </li>
                        <li>
                            <a href="/privacy">
                                <i class="fas fa-file-alt fa-fw"></i>
                                <span><strong>Privacy</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="/impressum">
                                <i class="fas fa-file-alt fa-fw"></i>
                                <span><strong>Impressum</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:hello@punkrockdev.com" target="_self" data-title="" title="">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span><strong>Email</strong></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col  footer-col-2">
                    <div class="hide-desktop" >
                        {% include newsletter.html %}
                    </div>
                </div>
            </div>
            <div class="footer-col  footer-col-3">
            </div>
        </div>
    </div>

    <div class="footer-background">
        <picture>
            <source srcset="images/Footer.webp" type="image/webp">
            <source srcset="images/Footer.png" type="image/png">
            <img src="images/Footer.png" alt="Dražen sitting in front of his desk">
        </picture>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='NAME';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script src="/js/main.js"></script>
