<footer class="site-footer">

    <div class="footer-content"></div>

    <div class="footer-bottom-links">
      <div class="footer-col-wrapper">
          <div class="footer-col  footer-col-3-5">
              <div class="">
                  {% include newsletter.html %}
              </div>
          </div>

          <ul class="contact-list">
                <li>
                    <a href="https://blog.punkrockdev.com/">
                        <span>Blog</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/punkrockdev/">
                        <span class="hide-laptop" >twitter.com/</span>@punkrockdev
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/punkrockdev/">
                        <span class="hide-laptop" >facebook.com/</span>punkrockdev
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com/punkrockdev/">
                        <span class="hide-laptop" >github.com/</span>punkrockdev
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        <span>Privacy</span>
                    </a>
                </li>
                <li>
                    <a href="/impressum">
                        <span>Impressum</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:hello@punkrockdev.com" target="_self" data-title="" title="">
                        <span>Email</span>
                    </a>
                </li>
            </ul>
      </div>


    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='NAME';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script src="/js/main.js"></script>
