<footer class="site-footer">

    <a href="/" class="logo"></a>

    <div class="footer-bottom-links">
      <div class="footer-col-wrapper">
          <div class="footer-col footer-col-3-5 hide-laptop">
              {% include newsletter.html %}
          </div>

          <ul class="contact-list">
                <li>
                    <a href="https://blog.punkrockdev.com/">
                        <i class="fas fa-newspaper fa-fw"></i><span>Blog</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.twitter.com/punkrockdev/" target="_blank">
                        <i class="fab fa-twitter fa-fw"></i><span>twitter.com/</span>@punkrockdev
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/punkrockdev/" target="_blank">
                        <i class="fab fa-facebook-f fa-fw"></i><span>facebook.com/</span>punkrockdev
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com/punkrockdev/" target="_blank">
                        <i class="fab fa-github fa-fw"></i><span>github.com/</span>punkrockdev
                    </a>
                </li>
                <li>
                    <a href="https://open.spotify.com/playlist/6E52OGawG1plGSO9GT1yNC?si=xwuhDfqOSM6Byg4xi8UD8A" target="_blank">
                        <i class="fab fa-spotify"></i>Spotify
                    </a>
                </li>
                <li>
                    <a href="/privacy">
                        <i class="fas fa-file-alt fa-fw"></i><span>Privacy</span>
                    </a>
                </li>
                <li>
                    <a href="/impressum">
                        <i class="fas fa-file-alt fa-fw"></i><span>Impressum</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:hello@punkrockdev.com" target="_self" data-title="" title="">
                        <i class="fas fa-envelope fa-fw"></i><span>Email</span>
                    </a>
                </li>
            </ul>
      </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[3]='NAME';ftypes[3]='text';fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
<script src="/js/video.js"></script>
<script src="/js/main.js"></script>
