<header class="site-header">
    <div class="layer"></div>
    <nav class="nav nav-header">
      <div class="wrapper grid">
        <a href="/" class="header-logo"></a>
      </div>
    </nav>

  <div class='poster'></div>
  <div class="row header-content">
    <div class="col-2-3 col-sm-12 col-sm-offset-0 site-header-column text-center">
        <a class="site-title hide-desktop" href="{{ site.baseurl }}/" alt="{{ site.title }}"><img src="/images/logo.svg"></a>
        <h2 class="site-subtitle">Developing apps with a kick!</h2>
    </div>
  </div>

    <video autoplay loop width="100%" height="100%"  poster="data:image/gif,AAAA" class="hide-desktop" id="header-video">
    </video>
</header>
