<header class="site-header site-header-homepage">
  <!-- if header is homepage add class site-header-homepage -->


    <div class="header__overlay"></div>
    <nav class="nav nav-header">
      <div class="wrapper grid">
        <a href="/" class="header-logo"></a>
      </div>
    </nav>

  <div class='header__fallback-image'></div>
  <div class="row header-content">
    <div class="col-2-3 col-sm-12 col-sm-offset-0 site-header-column text-center">
        <h2 class="site-subtitle">Developing apps with a kick!</h2>
    </div>
  </div>
  <video id="header-video" class="hide-desktop" autoplay="true" loop="true" muted="true" width="100%" height="100%"  poster="data:image/gif,AAAA">
    <source src="https://static.punkrockdev.com/file/punkrockdev/header-600px-30s.mp4" type="video/mp4">
  </video>
  
  <!-- TODO: don't show the video on some static pages -->
  <!-- {% if show_video == true%}
    <video autoplay loop width="100%" height="100%"  poster="data:image/gif,AAAA" class="hide-desktop" id="header-video">
      <source src="https://static.punkrockdev.com/file/punkrockdev/header-600px-30s.mp4" type="video/mp4">
    </video>
  {% endif %} -->
</header>
