@import "slider";

@mixin accent-button() {
    color: #fff;
    border: 1px solid #292929;
    background: #292929;
    font-weight: 300;
    font-size: 20px;
    padding: 7px 5px;
    margin-left: auto;
    display: block;
    cursor:pointer;
    &:hover {
        background: rgba($accent-color, .3 )
    }
    @include media-query-min($on-laptop) {
        width: 60%;
    }
    @include media-query-min($on-desktop) {
        width: 200px;
    }
}


form {
    /* margin: 0 auto; */
    /* width: 400px; */
    // padding: 2em;
    margin: 2em 0 3em;
    @include media-query($on-desktop) {
        padding: 1em;
    }
    // background: $grey-color-transparent;

    .form-input { margin-bottom: 1.5em;}
    label {
        font-size: 20px;
        margin-right: 0.5em;
        font-weight: 400;
        @include media-query($on-desktop) {
            display: block;
        }
    }
    input[type="text"], input[type="email"] { /* name, email text inputs */
        @include media-query-min($on-desktop) {
            width: 100%;
        }
    }
    input, textarea { /* all (text) inputs */
        font: 1em $base-font-family;
        border: none;
        border-bottom: 2px solid #292929;
        border-radius: 0;
        padding: 0.3em;
        margin: 0.3em 0;
        background: transparent;
        @include media-query($on-desktop) {
            width: 100%;
        }
        &:focus {
          outline: none;
          border-bottom: 2px solid #292929;
        }
    }
    textarea { /* only the description text input */
        width: 100%;
        height: auto;
        max-width: 100%;
        resize: none;
    }
    // .slider-value {
    //     font: 1em $base-font-family;
    //     line-height: 1.5;
    //     font-style: italic;
    //     @include media-query($on-desktop) {
    //         float: left;
    //     }
    // }
    // input[type="range"] {
    //     display: block;
    //     padding: 1em 0;
    //     width: 100%;
    //     margin-left: 0;
    //     -webkit-appearance: none;
    //     background-color: transparent;
    // }
    input[type="submit"] {
        @include accent-button;
    }
}

#mc_embed_signup{
    // font-size: 0.7em;

    #mc_embed_signup_scroll {
        margin: 0;
        text-align: center;
    }

    p { text-align: left; }

    form {
        margin-top: 0;
        padding: 10px 10px 10px 3%;
        background: none;

        .clear {
          display: inline-block;
          clear: none;
        }

        h2 {
          font-size: 1.1em; text-transform: uppercase; font-weight: 300;
          margin: 0px;
          color: #f5f5f5;

          &+p {
            font-size: 16px;
            color: #f5f5f5;
            text-align: center;
            font-weight: 300;
            margin-bottom: 20px;
          }
       }

        .indicates-required { display: none; }

        input { border-radius: 0; }

        
        .mc-field-group {
            width: 20%;
            display: inline-block;
            clear: none;
            padding: 0;
            input {
                background: #f5f5f5;
                font-size: 14px;
                font-weight: 400;
                padding: 6px 5px;
                margin: 0;
                @include media-query($on-laptop) {
                    padding: 4px;
                }
            }
           textarea { /* all (text) inputs */
                padding: 0.3em;
            }
        }

    }

    div#mce-responses {
        margin: 5px 0 25px;
        padding: 0;
    }

    div.response {
        margin: 0;
        padding: 0;
        width: auto;
    }

    #mce-success-response {
        visibility: hidden;
        &::before {
            content: "Awesome, thanks! 🙌";
            visibility: visible;
            color: $black-color;
        }
    }

    #mc-embedded-subscribe-form div.mce_inline_error {
        background: none;
        color: $accent-color;
        padding: 0;
        font-size: 16px;
    }
}

.body-newsletter {
    #mc_embed_signup {
        form {
            padding: 0;
            .mc-field-group {
                width: 100%;
            }

            input {
                background-color: $grey-color-light;
                border: none;
            }

            input[type="submit"] {
                font-weight: 900;
                padding: 8px 10px;
                margin: 1em auto;
                height: auto;
                min-width: 29%;
                width: auto;
                display: block;
                border: 4px solid $black-color;
                background: none;
                @include media-query($on-palm) {
                    width: 100%;
                }

                &.accent-button {
                    @include accent-button;
                    margin-top: 1em;
                }
            }
        }

        h2 {
            font-size: 42px;

            @include media-query($on-laptop) {
                font-size: 24px;
            }
            @include media-query($on-palm) {
                width: 80%;
            }
        }
    }
}
