form {
    /* margin: 0 auto; */
    /* width: 400px; */
    padding: 1em;
    background: $grey-color-transparent;

    .form-input { margin-bottom: 1em;}
    label { margin-right: 1em; }
    input, textarea {
        font: 1em $base-font-family;
        border: none;
        padding: 0.3em;
        @include media-query($on-palm) {
            padding: 2px;
        }
    }
    textarea {
        margin: 1em 0; width: 100%; height: 6em;
        max-width: 100%;
    }
    input[type="range" i] {
        display: block;
        padding: 1em;
        width: 80%;
        margin-left: 0;
        @include media-query($on-palm) {
            width: 100%;
        }
    }
    input[type="submit"] {
        margin-top: 1em;
        color: $accent-color;
        border: 6px solid $accent-color;
        background: none;
        font-weight: 900;
        font-size: 36px;
        padding: 0px 5px;
        margin-left: 0;
        &:hover {
            background: rgba($accent-color, .3 )
        }
    }
    .slider-value {
        font: 1em $base-font-family;
        margin: 0.5em;
        @include media-query($on-laptop) {
            margin: 0em;
            width: 100%;
        }
    }
}

#mc_embed_signup{
    clear:left;
    font-size: 0.7em;

    p { text-align: left; }

    form {
        padding: 10px 10px 10px 3%;
        background: none;

        input[type="submit"] {
            margin-top: 1em;
            color: $accent-color;
            border: 4px solid $accent-color;
            background: none;
            font-weight: 900;
            margin-left: 0;
            padding: 0 0.3em;
            line-height: 1em;
            border-radius: 0;
            &:hover {
                background: rgba($accent-color, .3 )
            }
        }
        .mc-field-group input {
            @include media-query($on-laptop) {
                padding: 4px;
            }
        }

    }
}
