%section-gutter {
  padding-top: 12vh;
  padding-bottom: 12vh;

  @include media-query($on-desktop) {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  @include media-query($on-palm) {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }
}

@mixin portfolio-item($bg, $txt) {
  background-color: $bg;
  > * {
    color: $txt;
  }
}

.grey-background {
  background-color: #fafafa;
}

.white-background {
  background-color: #fff;
}

.vcenter {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.text-center {
  text-align: center;
}

.clearfix {
  clear: both;
  overflow: auto;
}
