/**
 * Site header
 */
.site-header {
    // Positioning context for the mobile navigation icon
    position: relative;

    .site-image-wrapper {
        position: relative;
        padding-bottom: 41.74%; // (601) / 1440
        background-color: $grey-color-transparent;
    }
    .site-image-white-triangle {
        background-color: $background-color;
        position: absolute;
        width: 100%;
        padding-bottom: 3.78%; // 72 / 1905
        bottom: 0;
    }
    .site-image {
        width: 100%;
        position: absolute;
        z-index: 1;
    }

    .site-title-wrapper {
        z-index: 2;
        position: absolute;
        top: 40%;
        width: 100%;
        @include media-query($on-palm) {
            top: 30%;
        }
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    text-align: center;
    width: 100%;
    &, &:visited { color: $grey-color-dark; }
    @include media-query($on-palm) {
        img {
            width: 80%;
        }
    }
}

.site-subtitle {
    clear: left;
    float: left;
    text-align: center;
    width: 98%;
    padding-left: 1%;
    font-size: 68px;

    @include media-query($on-laptop) {
        font-size: 64px;
    }
    @include media-query($on-laptop) {
        font-size: 36px;
    }
    @include media-query($on-palm) {
        font-size: 28px;
        transform: rotate(1deg);
    }
    font-weight: 900;
    transform: rotate(3deg);
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    width: 100%;
    /* margin: auto; */
    .wrapper {
      padding: 0;
    }

    .footer-bottom-links {
      background-color: #292929;
      clear: both;

      .contact-list {
        clear: both;
        margin: 0;
        text-align: center;
        border-top: 1px solid #f5f5f561;

        li {
          display: inline-block;
          margin: 0 10px;

          a, i {
            color: #f5f5f5;
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
    }
}

.footer-content {
    float: left;
    padding-top: 70vh;
    width: 100%;
    font-size: $small-font-size;
    @include media-query($on-desktop) { font-weight: 900; }
    @include media-query($on-laptop) {
        font-size: $small-font-size-laptop;
    }
    @include media-query($on-palm) {
        font-size: $small-font-size-mobile;
    }

    a, i, h2, p, label {
      color: #f5f5f5;
      font-weight: 300;
   }

    background-image: linear-gradient(rgba(1,1,1,.02),rgba(1,1,1,.02)),url("../images/footer_guitar.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.contact-list,
.social-media-list {
    margin-top: 1em;
    list-style: none;
    margin-left: 0;

    li {
        padding: 0.3em 0;
        svg { margin-right: 0.5em; }
    }
}

.footer-col-wrapper {
    padding-top: 30px;
    width: 100%;
    float: none !important;
    #made-with { display: block; }
    @include media-query($on-desktop) {
        margin-left: 0;
    }
    img {
        padding: 1em 0;
        width: 80%;
    }
}

div.footer-col {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    @include media-query($on-desktop) {
      width: 100%;
    }
}

.footer-col-1 {
    width: 60%;
    padding-left: 0;
    @include media-query($on-desktop) {
        width: 100%;
    }
}

/**
 * Page content
 */
p {
    text-align: justify;
    @include media-query($on-desktop) {
        text-align: left;
    }
}

.flush-left {
    text-align: left;
}

.flush-right {
    text-align: right;
}

// .page-content {
//     padding: $spacing-unit 0;
//     @include media-query($on-palm) {
//         padding: 0;
//     }
// }

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content, .page-content {
    // margin-bottom: $spacing-unit;

    h2 {
        font-size: 42px;
        font-weight: 900;


        @include media-query($on-laptop) {
            font-size: 24px;
        }
        @include media-query($on-palm) {
            width: 80%;
        }
    }

    h3 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 26px;
        }
        // font-size: 26px;
        //
        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.doodle {
    padding-top: 2em;
    text-align: center;
    img { max-width: 100%}
    @include media-query($on-desktop) {
        padding-top: 0;
        position: absolute;
        right: 0.5em;
        width: 100px;
    }
    @include media-query($on-laptop) { width: 63px; }
    @include media-query($on-palm) { width: 75px; }
}

/**
 * Discography
 */

.app-screenshot {
    img {
        border: 24px solid $grey-color-transparent;
        display: block;
        margin: 0 auto;
    }
    p {
        text-align: left;
    }

    @include media-query($on-desktop) {
        display: flex;
        flex-flow: column-reverse;
        .col-2-5 { width: 100%; }
    }
}

// .mugshot {
//     padding: 2em;
//     @include media-query($on-desktop) {
//         padding: 0;
//         padding-top: 0;
//         padding-left: 0;
//         margin-bottom: 13px;
//     }
// }

#the-band {
    @include media-query($on-palm) {
        padding-top: 2em;
    }
}

// #phone-doodle.doodle {
//     padding-top: 4em;
//     @include media-query($on-desktop) {
//         padding-top: 0;
//         position: relative;
//         width: 33%;
//     }
// }

.portfolio-section {
  clear: both;
  padding-bottom: 100px;
  padding-top: 150px;

  .row {
    padding: 0;
  }

  [class*='col-'] {
    padding: 0px;
  }

  h2 {
    margin: 0 0 30px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    text: {
      align: left;
      transform: uppercase;
    }

    font: {
      weight: 400;
      size: 20px;
    }
  }

   p {
     text-align: left;
     color: #fff;
     max-width: 200px;
     font: {
       size: 14px;
       weight: 300;
     }
   }

    .portfolio-description {
      bottom: 10px;
      right: 10px;
      z-index: 2;
      position: absolute;
      background-color: #292929;
      padding: 10px 20px;
    }

   .app-screenshot {
     height: 60vh;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     border: 5px solid #292929;
     transition: .3s ease-in-out;
     transition-property: border-color;
     cursor: pointer;

     &:after {
       content: "";
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: rgba(1,1,1,.2);
       z-index: 1;
       transition: .3s ease-in-out;
       transition-property: background-color;
     }

     &:hover {
       border-color: #000;
       &:after {
         background-color: rgba(1,1,1,0);
       }
     }

     &.imGraetzl {
       background-image: url("../images/discography/imgraetzl.webp");
     }

     &.pos {
       background-image: url("../images/discography/POSMusic.webp");
       background-position: left top;
       background-size: cover;
     }

     &.crosho {
       background-image: url("../images/discography/crosho.webp");
     }

     &.where {
       background-image: url("../images/discography/where2help.webp");
     }
   }

   .col {
     clear: both;
   }

   .button {
     margin: 50px 0 30px;
     display: inline-block;
     color: #f5f5f5;
     background-color: #292929;
     width: 200px;
     height: 40px;
     line-height: 30px;
     border: none;
     cursor: pointer;
     font: {
       size: 14px;
       weight: 400;
     }
   }
}

.about-section {

  .row {
    padding: 0;
  }

  .about-col {
    margin-bottom: 70px;
    padding-left: 30px;

    .about-description {
      font-size: 16px;
    }

    &-left {
      clear: left;
    }

    h3 {
      color: #292929;
      font-size: 30px;
      margin-top: 20px;

      a {
        color: #292929;
        text-decoration: none;
        font-size: 70%;

        &.about-name {
          font-size: 30px;
        }
      }
    }

    .picture-wrapper {
      position: relative;
      cursor: pointer;

      .mugshot-hidden {
        position: absolute;
        top: 0;
        opacity: 0;
      }

      &:hover {
        .mugshot-hidden {
          opacity: 1;
        }
      }
    }
  }
}

.contact-section {
  background-color: #fafafa;
  p, label, input, textarea {
    font: {
      size: 20px;
    }
    padding-left: 0;
  }
  form {
    input {
      padding: 7px 0;
      margin: 0;
    }
  }
}
