---
layout: default
---
<div class="row">
<div class="col-1-5">
    <aside class="doodle">
        <img src="/images/LED.png" >
    </aside>
</div>

<div class="col-3-5">
        <h2>IDEAS, DEVELOPMENT & PUNK ROCK</h2>

        <p>So, here's the deal … Punk Rock Dev is an <bold>indie web development studio</bold>.
We apply the DIY, no nonsense philosophy of punk rock to efficiently develop
apps from concept to implementation. We believe that lean product development
and smart priorities based on real data are important to build good apps
that people will love.</p>
</div>

<div class="col-1-5">
    <blockquote>“Disruptive innovation is the new punk rock”<br/>
    — Jaime Levy</blockquote>
</div>
</div>

<div class="row" >
    <!-- <div class="col-1-5">Player</div> -->
    <div class="col-1-5">.</div>
    <div class="col-3-5">
        <h2>DISCOGRAPHY</h2>

        <p>Rather than spend too much space on words, here are some of our past projects …</p>
    </div>
    <div class="col-1-5">
        <aside class="doodle">
            <img src="/images/safety_pin.png" >
        </aside>
    </div>
</div>


<div class="row">
    <div class="col-1-5">
        .
    </div>
    <div class="app-screenshot">
        <div class="col-1-5">
            <h3>POSMusic</h3>
            <p>A music scheduling and playback app for pubs, shops & restaurants. Vist website.</p>
        </div>
        <div class="col-3-5">
            <img src="/images/POSMusic.png">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1-5">
        .
    </div>
    <div class="app-screenshot">
        <div class="col-1-5">
            <h3>CroSho</h3>
            <p>A crowd shopping marketplace.</p>
        </div>
        <div class="col-3-5">
            <img src="/images/crosho.png">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1-5">
        .
    </div>
    <div class="app-screenshot">
        <div class="col-1-5">
            <h3>eSquirrel</h3>
            <p>Online learning platform for high school kids.</p>
        </div>
        <div class="col-3-5">
            <img src="/images/eSquirrel.png">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1-5">
        .
    </div>
    <div class="app-screenshot">
        <div class="col-1-5">
            <h3>where2help</h3>
            <p>A volunteer management app for helping refugees.</p>
        </div>
        <div class="col-3-5">
            <img src="/images/where2help.png">
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-1-5">.</div>
    <div class="col-2-5">
        <h2>THE BAND</h2>
    </div>
    <div class="col-2-5">
        <img src="/images/laptop.png">
    </div>
</div>
<div class="row" >
    <div class="col-1-4-5">
        <img src="/images/ja.png">
    </div>
    <div class="col-3-4-5">
        <h3>Dražen Lučanin</h3>

        <p>Hi! I'm a software developer working in the industry since 2009.
I have experience with both web app backends in <strong>Python</strong> or <strong>Ruby</strong>
and frontends in <strong>JavaScript</strong>. Having done a PhD in computer science,
I know my way around <strong>data analysis</strong>, visualisation
and algorithms from domains like <strong>machine learning</strong> too – useful tools
when tackling challenging problems.
I started Punk Rock Dev to create practical apps that help people,
while working in a fun &amp; relaxed atmosphere.</p>
    </div>
    <div class="col-1-5">
        <blockquote>“Dražen is good at some things like the computers and being tall.”<br/>
    — Aaron Cruz</blockquote>
    </div>
</div>

<div class="row" >
    <div class="col-1-5">.</div>
    <div class="col-3-5">
        <p>On larger projects I work with <strong>a team of skilled developers and designers</strong>
to deliver the best product quickly and efficiently.</p>
    </div>
    <div class="col-1-5">.</div>
</div>


<div class="row">
    <div class="col-1-5">.</div>
    <div class="col-3-5">
        <h2>THE GIG</h2>

        <p>If you'd like to work on a project together, please fill out the info below
and we'll set up a call to discuss the details.
Looking forward to hearing from you!</p>

        <p>What's your budget?</p>

        <p>When do you expect the project to be finished?</p>

        <p>Describe your project in a couple of sentences:</p>

        <p>Get in touch</p>
    </div>
    <div class="col-1-5">.</div>
</div>
</div>
</div>
