---
layout: default
show_video: true
---
<section class="intro-section grey-background clearfix">
  <nav class="nav nav-section nav-absolute" id="nav">
    <ul class="nav-list nav-list-left">
      <li class="nav-item">
        <a href="https://www.twitter.com/punkrockdev/" target="_blank">
          <i class="fab fa-twitter fa-fw"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.facebook.com/punkrockdev/" target="_blank">
          <i class="fab fa-facebook-f fa-fw"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://www.github.com/punkrockdev/" target="_blank">
          <i class="fab fa-github fa-fw"></i>
        </a>
      </li>
    </ul>
    <ul class="nav-list nav-list-right">
      <li class="nav-item"><a href="#work" class="nav-link">Work</a></li>
      <li class="nav-item"><a href="#team" class="nav-link">Team</a></li>
      <li class="nav-item"><a href="https://blog.punkrockdev.com/" class="nav-link">Blog</a></li>
      <li class="nav-item nav-item-contact"><a href="#contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="intro-section-column">
      <aside class="doodle">
            <picture>
                <source srcset="images/LED.webp" type="image/webp">
                <source srcset="images/LED.png" type="image/png">
                <img src="images/LED.png" alt="LED doodle">
            </picture>
        </aside>
          <h2>IDEAS, DEVELOPMENT & PUNK ROCK</h2>
          <p class="section-paragraph">
            So, here's the deal… Punk Rock Dev is an indie web development and data analysis
            studio that can help you
            <strong>build that app you've always dreamed of</strong>.
            We apply the DIY, no nonsense philosophy of punk rock to efficiently develop
            your app from concept to implementation. We believe that lean product
            development and smart priorities based on real data
            are important to build good apps that your users will love.
          </p>
    </div>
  </div>
</section>

   <section class="portfolio-section white-background" id="work">
     <div class="wrapper grid">
       <div class="row">
         <div class="col text-center">
           <aside class="doodle">
             <picture>
                 <source srcset="images/safety_pin.webp" type="image/webp">
                 <source srcset="images/safety_pin.png" type="image/png">
                 <img src="images/safety_pin.png" alt="safety_pin doodle">
             </picture>
           </aside>

            <h2 class="section-heading">DISCOGRAPHY</h2>
         </div>
       </div>
          <div class="portfolio-item light clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot craftstrom device"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>CraftStrom</h3>
                <p>CraftStrom is a startup providing smart solar panels and batteries in urban environments. We’ve built the iOS and Android mobile apps and backend infrastructure allowing customers to set up, monitor and control their smart solar panel & battery system. (<a href="https://www.craftstrom.com/" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item dark clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot pos"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>POSmusic</h3>
                <p>A music scheduling and playback app for businesses. Successfully deployed from local coffee shops to multinational franchises! We worked with POSMusic to build out their music streaming cloud infrastructure, extend their web app to support intuitive scheduling of playlists and genres in a drag-and-drop weekly calendar interface and support consistent playback over multiple time zones. To filter appropriate content, we’ve implemented a lyrics analysis tool for finding profanities. From the hardware side, we’ve worked on supporting POSMusic customers with music playback systems ranging from a simple iOS app, Sonos smart speakers to custom hardware with offline caching. (<a href="https://www.posmusic.com" >web</a>)</p>
              </div>
            </div>
          </div>

          <div class="portfolio-item light clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot formunauts device"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Formunauts</h3>
                <p>Formunauts is the most most popular European face-to-face fundraising software used by charities like Save the Children, Amnesty International, World Wildlife Fund and Greenpeace. We’ve worked together with the Formunauts team over several years to greatly extend their offline-first web application. Among the many features we’ve added are support for new markets in South America, mobile point-of-sale integration for contactless credit card payments, mobile receipt printer integration and porting the old Angular 1.x codebase to the latest version of Angular. (<a href="https://www.formunauts.at" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item light clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot zoomero"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Zoomero</h3>
                <p>Accounting and business managment app for international companies doing business in China. We’ve worked together with S.J. Grand Financial and Tax Advisory to understand their existing workflows and design and build a web app that can support their and their customers’ work. The app featured multiple user types with different authorization levels, expense approval chains based on customizable management hierarchies, multi-lingual support and a fully responsive web interface usable both for mobile and desktop users. (<a href="https://www.sjgrand.cn" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item light clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot imGraetzl"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Im Grätzl</h3>
                <p>A social network for exploring neighborhoods. imGraetzl connects thousands of creative professionals in Vienna! We worked closely with the imGraetzl team over multiple years to extend their software with features like office space sharing, discussion groups and local tool sharing (with payments processed using Stripe). (<a href="https://www.imgraetzl.at" >web</a>, <a href="https://github.com/imGraetzl/im_graetzl">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="portfolio-item light clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot mysugr"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>mySugr</h3>
                <p> mySugr is the no. 1 app on the AppStore for people with diabetes – it has over 1.8 million users worldwide! To improve the way mySugr’s designers and developers collaborate internally, we’ve implemented a style guide for showcasing and easily using their many web components. (<a href="https://mysugr.com/" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item dark clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot arxanima"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>arx anima</h3>
                <p>arx anima is an award-winning animation studio. We’ve improved their their online human resources system with collaborative drag-and-drop lists for easier and faster talent management. (<a href="http://arxanima.com/" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item light clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot crosho"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>CroSho</h3>
                <p>A crowd shopping marketplace. From idea to paying customers in just a few months! We’ve worked on the web app of an e-commerce site offering special discounts unlocked based on a certain number of shoppers all ordering the same item. (<a href="http://www.crosho.com/" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item dark clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot esquirrel"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>eSquirrel</h3>
                <p>Online learning platform for high school kids. More than 200 courses authored & 28k quiz questions answered so far! We worked on the author portal allowing teachers to write questions and possible answers to the many quizzes available in the app. (<a href="https://www.esquirrel.at" >web</a>)</p>
              </div>
            </div>
          </div>
          
          <div class="portfolio-item light clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot where"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>where2help</h3>
                <p>A volunteer management app for helping refugees. In 1 year grew to 60 organisations & 1400 volunteers! We worked on the schedule interface allowing the management of necessary volunteer capacity and the number of applicants. (<a href="https://www.where2help.wien" >web</a>, <a href="https://github.com/where2help/where2help">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <button class="button" id="collapsable">Show more</button>
            </div>
          </div>
     </div>
   </section>

<section class="about-section grey-background" id="team">
  <div class="wrapper grid">
    <div id="the-band" class="row">
        <div class="col text-center">
            <h2 class="section-heading">MEET THE BAND</h2>
        </div>
    </div>

    <div class="row" style="padding: 0;">
      
        <!-- Drazen -->
        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
          <!-- <div class="picture-wrapper"> -->
            <!-- <picture>
                <source srcset="images/team/drazen.webp" type="image/webp">
                <source srcset="images/team/drazen.jpg" type="image/jpg" class="mugshot-hidden">
                <img src="images/team/drazen.jpg" alt="photo of Dražen" class="mugshot-hidden">
            </picture> -->

            <picture>
                <source srcset="images/team/drazen2.webp" type="image/webp">
                <source srcset="images/team/drazen2.jpg" type="image/jpg">
                <img src="images/team/drazen2.jpg" alt="photo of Dražen" class="mugshot">
            </picture>
          <!-- </div> -->

            <h3 class="about-heading"><a href="https://metakermit.com/" class="about-social-link">Dražen Lučanin</a> <a href="https://github.com/metakermit" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/metakermit" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
              Dražen manages Punk Rock Dev with practical software engineering experience from working in the industry since 2009. He has experience with both web app backends in Python and Ruby as well as frontends in JavaScript. Having done a PhD in computer science, he knows his way around data analysis, visualisation and machine learning – useful tools if you have challenging problems to tackle. Dražen started Punk Rock Dev to help people create practical and impactful apps in a fun & relaxed atmosphere.
            </p>
        </div>

        <!-- Ramon -->
        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
            <!-- <div class="picture-wrapper"> -->
              <!-- <picture>
                  <source srcset="images/team/ramon.webp" type="image/webp">
                  <source srcset="images/team/ramon.jpg" type="image/jpg" class="mugshot-hidden">
                  <img src="images/team/ramon.jpg" alt="photo of Ramon" class="mugshot-hidden">
              </picture> -->
              <picture>
                  <source srcset="images/team/ramon2.webp" type="image/webp">
                  <source srcset="images/team/ramon2.jpg" type="image/jpg">
                  <img src="images/team/ramon2.jpg" alt="photo of Ramon" class="mugshot">
              </picture>
            <!-- </div> -->

            <h3 class="about-heading"><a href="https://ramonh.dev" class="about-social-link">Ramón Huidobro</a> <a href="https://github.com/ramonh" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/senorhuidobro" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
              Ramon is a software engineer with over ten years of experience building macOS, iOS and full-stack web apps. His core expertise comes from Objective-C, Swift, Ruby/Rails, as well as JavaScript. More recently, he has also developed apps with Elixir, React and React Native. Ramon's biggest passion is in the software engineering community, and the nurturing thereof. Aside from organising and speaking at meetups, hackathons and conferences, Ramon has also recently joined the Mozilla Tech Speakers initiative.
            </p>
        </div>

        <!-- Antonija -->
        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
          <picture>
              <source srcset="images/team/antonija.webp" type="image/webp">
              <source srcset="images/team/antonija.jpg" type="image/jpg">
              <img src="images/team/antonija.jpg" alt="photo of Antonija" class="mugshot">
          </picture>

            <h3 class="about-heading"><a href="https://mytwocents.dev/" class="about-social-link">Antonija Šimić</a> <a href="https://github.com/tonkec" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/tonkec_palonkec" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
              Antonija is a frontend developer with an eye for pixel perfection and a taste for animations that make web apps come to life. In her career, she has implemented countless user interfaces, both on her own and by adhering to existing design mockups. In her recent projects she is using React and React Native, but has experience with other web frameworks as well. Antonija also has a background in education – she has been mentoring students and helping them improve their web development skills in (S)CSS and Javascript. When away from keyboard, Antonija is working to grow the local tech community by organising in-person CSS meetups or reading comics.
            </p>
        </div>

        <!-- Hana -->
        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
          <picture>
              <source srcset="images/team/hana.webp" type="image/webp">
              <source srcset="images/team/hana.jpg" type="image/jpg">
              <img src="images/team/hana.jpg" alt="photo of Dražen" class="mugshot">
          </picture>

            <h3 class="about-heading"><a href="https://www.behance.net/hanastojakde72" class="about-social-link">Hana Stojaković</a></h3>
            <p class="about-description">
              Hana is a graphic designer with a bachelor’s degree who focuses on visual communication and the interconnectedness of various design fields – from physical to virtual mediums. She has experience working as a freelancer, having worked on projects ranging from custom logotypes to full-fledged web designs. After mastering the fundamentals at university, she practiced her skills on real-world UI/UX projects while working with a design agency in Berlin. Besides for coming up with imaginative visual art, Hana is involved in the art of movement by practicing contemporary dance in her free time.
            </p>
        </div>

        <!-- Nikola -->
        <div class="col-1-2 col-sm-1-2 col-md-12 about-col about-col-last">
          <picture>
              <source srcset="images/team/nikola.webp" type="image/webp">
              <source srcset="images/team/nikola.jpg" type="image/jpg">
              <img src="images/team/nikola.jpg" alt="photo of Dražen" class="mugshot">
          </picture>

            <h3 class="about-heading"><a href="https://github.com/shnikola" class="about-social-link">Nikola Šantić</a> <a href="https://github.com/shnikola" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/shnikola" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
              Nikola is an experienced Rails developer with a master’s degree in computer science and a background in natural language processing. From a software engineering perspective, architecting backend models and optimising Postgres database queries for performance are his specialties. When it comes to project management, Nikola is very skilled at communicating and specifying software requirements, prioritising and staying within scope to deliver results on time. In his spare time Nikola makes music, draws comics and excels at quizzes.
            </p>
        </div>
    </div>
  </div>
</section>

<section class="contact-section white-background" id="contact">
    <div class="wrapper grid">
      <div class="row">

        <div class="col-1-2 contact-column">
          <aside class="doodle">
            <picture>
             <source srcset="images/phone.webp" type="image/webp">
             <source srcset="images/phone.png" type="image/png">
             <img src="images/phone.png" alt="phone doodle">
            </picture>
          </aside>
            <h2 id="the-gig" class="text-center section-heading">THE GIG</h2>
            <p>
              Interested in working on a project together? Awesome! Please tell us
              a bit about your project and constraints and we'll set up a call
              to discuss the details. Looking forward to hearing from you!
            </p>
            <form id="contact_form" action="https://formspree.io/hello@punkrockdev.com" method="post">
                <div class="form-input" >
                    <label for="name">Your name:</label>
                    <input id="name" type="text" name="name" autocomplete="name" />
                </div>
                <div class="form-input" >
                    <label for="email">Your email:</label>
                    <input id="email" type="email" name="email" autocomplete="email" required />
                </div>
                <div class="form-input" >
                    <label for="description">Describe your project in a couple of sentences:</label>
                    <textarea id="description" name="description" rows="7"></textarea>
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_next" value="http://punkrockdev.com/thanks.html" />
                <input type="hidden" name="_subject" value="Punk Rock Dev Inquiry" />
                <input type="submit" value="Get in touch" class="button" />
            </form>
        </div>
      </div>
    </div>
</section>
</div>
</div>
