---
layout: default
---
<section class="intro-section grey-background clearfix">
  <nav class="nav nav-section nav-absolute" id="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#work" class="nav-link">Work</a></li>
      <li class="nav-item"><a href="#team" class="nav-link">Team</a></li>
      <li class="nav-item nav-item-contact"><a href="#contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>

  <div class="row">
    <div class="intro-section-column">
          <h2>IDEAS, DEVELOPMENT & PUNK ROCK</h2>
          <p class="section-paragraph">
            So, here's the deal… Punk Rock Dev is an indie web development and data analysis
            studio that can help you
            <strong>build that app you've always dreamed of</strong>.
            We apply the DIY, no nonsense philosophy of punk rock to efficiently develop
            your app from concept to implementation. We believe that lean product
            development and smart priorities based on real data
            are important to build good apps that your users will love.
          </p>
    </div>
  </div>
</section>

   <section class="portfolio-section white-background" id="work">
     <div class="wrapper grid">
       <div class="row">
         <div class="col text-center">
             <h2 class="section-heading">DISCOGRAPHY</h2>
         </div>
       </div>
          <div class="portfolio-item imGraetzl clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot imGraetzl"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Im Grätzl 1</h3>
                <p>A social network for exploring your neighbourhood & sharing office space. Connecting thousands of creative Viennese! (<a href="https://www.imgraetzl.at" >web</a>, <a href="https://github.com/imGraetzl/">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="portfolio-item pos clearfix">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot pos"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Im Grätzl 2</h3>
                <p>A social network for exploring your neighbourhood & sharing office space. Connecting thousands of creative Viennese! (<a href="https://www.imgraetzl.at" >web</a>, <a href="https://github.com/imGraetzl/">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="portfolio-item crosho clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot crosho"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Im Grätzl 3</h3>
                <p>A social network for exploring your neighbourhood & sharing office space. Connecting thousands of creative Viennese! (<a href="https://www.imgraetzl.at" >web</a>, <a href="https://github.com/imGraetzl/">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="portfolio-item where clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot where"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Im Grätzl 4</h3>
                <p>A social network for exploring your neighbourhood & sharing office space. Connecting thousands of creative Viennese! (<a href="https://www.imgraetzl.at" >web</a>, <a href="https://github.com/imGraetzl/">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="portfolio-item imGraetzl clearfix collapsable-hidden">
            <div class="row">
              <div class="col-1-2 col-xs-12 col-sm-4-5 app-screenshot where"></div>
              <div class="col-1-2 col-xs-12 col-sm-4-5 portfolio-description">
                <h3>Im Grätzl 5</h3>
                <p>A social network for exploring your neighbourhood & sharing office space. Connecting thousands of creative Viennese! (<a href="https://www.imgraetzl.at" >web</a>, <a href="https://github.com/imGraetzl/">code</a>)</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <button class="button" id="collapsable">See more</button>
            </div>
          </div>
     </div>
   </section>

<section class="about-section grey-background" id="team">
  <div class="wrapper grid">
    <div id="the-band" class="row">
        <div class="col text-center">
            <h2 class="section-heading">MEET THE BAND</h2>
        </div>
    </div>

    <div class="row" style="padding: 0;">
        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
          <div class="picture-wrapper">
            <picture>
                <source srcset="images/team/drazen.jpg" type="image/jpg" class="mugshot-hidden">
                <img src="images/team/drazen.jpg" alt="photo of Dražen" class="mugshot-hidden">
            </picture>

            <picture>
                <source srcset="images/team/drazen2.jpg" type="image/jpg">
                <img src="images/team/drazen2.jpg" alt="photo of Dražen" class="mugshot">
            </picture>
          </div>

            <h3 class="about-heading"><a href="https://metakermit.com/" class="about-social-link">Dražen Lučanin</a> <a href="https://github.com/metakermit" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/metakermit" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">Hi! I'm a software developer working in the industry since 2009. I have experience with both web app backends in Python or Ruby and frontends in JavaScript. Having done a PhD in computer science, I know my way around data analysis, visualisation and algorithms from domains like machine learning too – useful tools if you have challenging problems to tackle. I started Punk Rock Dev to help you create practical apps in a fun & relaxed atmosphere.</p>
        </div>

        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
            <div class="picture-wrapper">
              <picture>
                  <source srcset="images/team/ramon.jpg" type="image/jpg" class="mugshot-hidden">
                  <img src="images/team/ramon.jpg" alt="photo of Dražen" class="mugshot-hidden">
              </picture>
              <picture>
                  <source srcset="images/team/ramon2.jpg" type="image/jpg">
                  <img src="images/team/ramon2.jpg" alt="photo of Dražen" class="mugshot">
              </picture>
            </div>

            <h3 class="about-heading"><a href="https://metakermit.com/" class="about-social-link">Ramon Huidobro</a> <a href="https://github.com/metakermit" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/metakermit" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
              Heyhey! I offer over ten years of experience building macOS, iOS and full-stack web apps. My core expertise comes from Objective-C, Swift, Ruby/Rails, as well as Javascript. More recently, I've also developed apps with Elixir, React and React Native. My biggest passion is in the software engineering community, and the nurturing thereof. Aside from organizing meetups, hackathons and conferences, I've also recently joined the Mozilla Tech Speakers initiative.
            </p>
        </div>

        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
          <picture>
              <source srcset="images/team/antonija.jpg" type="image/jpg">
              <img src="images/team/antonija.jpg" alt="photo of Dražen" class="mugshot">
          </picture>

            <h3 class="about-heading"><a href="https://metakermit.com/" class="about-social-link">Antonija Šimić</a> <a href="https://github.com/metakermit" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/metakermit" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
              Hello! In my career I have coded user interfaces (including this one ^_^), respecting provided design and following the pixel perfect approach. The latest projects I have worked on required React.js and React Native skills. For the past 14 months, I have been mentoring students who want to become professional web developers, mostly teaching them (S)CSS and Javascript. Recently, I started CSS meetup group where we share ideas about CSS and Scss.
            </p>
        </div>

        <div class="col-1-2 col-sm-1-2 col-md-12 about-col">
          <picture>
              <source srcset="images/team/hana.jpg" type="image/jpg">
              <img src="images/team/hana.jpg" alt="photo of Dražen" class="mugshot">
          </picture>

            <h3 class="about-heading"><a href="https://metakermit.com/" class="about-social-link">Hana LastName</a> <a href="https://github.com/metakermit" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/metakermit" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
                Hi! I’m a design student with a focus in visual communication, who is interested in the interconnectedness of various design fields. I have an experience of working as a freelancer, doing mostly logotypes and web design. Currently, I’m brushing up my UI/UX design skills doing an internship in Berlin.</p>
        </div>


        <div class="col-1-2 col-sm-1-2 col-md-12 about-col about-col-last">
          <picture>
              <source srcset="images/team/nikola.jpg" type="image/jpg">
              <img src="images/team/nikola.jpg" alt="photo of Dražen" class="mugshot">
          </picture>

            <h3 class="about-heading"><a href="https://metakermit.com/" class="about-social-link">Nikola Šantić</a> <a href="https://github.com/metakermit" class="social-icon-link"><i class="fab fa-github"></i></a> <a href="https://twitter.com/metakermit" class="social-icon-link"><i class="fab fa-twitter"></i></a></h3>
            <p class="about-description">
                Hi! I’m a design student with a focus in visual communication, who is interested in the interconnectedness of various design fields. I have an experience of working as a freelancer, doing mostly logotypes and web design. Currently, I’m brushing up my UI/UX design skills doing an internship in Berlin.        </p>
        </div>
    </div>
  </div>
</section>

<section class="contact-section white-background" id="contact">
    <div class="wrapper grid">
      <div class="row">
        <div class="col-1-2 contact-column">
            <h2 id="the-gig" class="text-center section-heading">THE GIG</h2>
            <p>
              Interested in working on a project together? Awesome! Please tell us
              a bit about your project and constraints and we'll set up a call
              to discuss the details. Looking forward to hearing from you!
            </p>
            <form id="contact_form" action="https://formspree.io/hello@punkrockdev.com" method="post">
                <div class="form-input" >
                    <label for="name">Your name:</label>
                    <input id="name" type="text" name="name" autocomplete="name" />
                </div>
                <div class="form-input" >
                    <label for="email">Your email:</label>
                    <input id="email" type="email" name="email" autocomplete="email" required />
                </div>
                <div class="form-input" >
                    <label for="description">Describe your project in a couple of sentences:</label>
                    <textarea id="description" name="description" rows="7"></textarea>
                </div>
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="_next" value="http://punkrockdev.com/thanks.html" />
                <input type="hidden" name="_subject" value="Punk Rock Dev Inquiry" />
                <input type="submit" value="Get in touch" class="button" />
            </form>
        </div>
      </div>
    </div>
</section>
</div>
</div>
