.site-header {
  height: calc(100vh - 5px);
  border-bottom: 5px solid #fff;

  @include media-query($on-laptop) {
    height: calc(80vh - 5px);
  }

  @include media-query($on-palm) {
    height: calc(60vh - 5px);
  }

  .fullscreen-bg {
    background-image: url("../images/poster.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

    .layer {
      background-color: rgba(1, 1, 1, 0.5);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }

    &-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background-image: url("../images/poster.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
      z-index: -100;
    }
  }
}
